.emoji-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 10px;
  width: 340px;
  margin: 0;
}

.emoji-item {
  cursor: pointer;
  float: left;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 0;
  text-align: center;
  background-color: #fff;
}

.emoji-item:hover {
  background-color: #f6f8f9;
}

.emoji-item__icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  background: transparent
    url(https://res.wx.qq.com/mpres/zh_CN/htmledition/pages/modules/emoji_panel/icon_emotion_panel.2x4be7a8.png)
    no-repeat 0 0;
  background-size: 20px auto;
}
